*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'open Sans', sans-serif;
}

body {
    height: 100vh;
    background-image: url(../css/p1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    left: 50%;
    top : 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    width: 500px;
    height: 600px;

    background-color: rgba(109, 106, 122, 0.7);
    box-shadow: 0 0 10px rgba(108, 163, 235, 0.3);
}

.container h1 {
    text-align: left;
    color: #050505;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #042764;
}

.container label {
    text-align: left;
    color: #000000;
}

.container form input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: 2px solid #515763;
    color: rgb(14, 11, 11);
    font-size: 20px;
}

.register {
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #6e4c4c;
}

